{% extends 'base.html' %}
{% block app_content %}

    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit molestiae itaque facere totam saepe tempore
            esse temporibus, quae reprehenderit aliquid iusto ea laborum, iure eligendi odio exercitationem sapiente
            illum
            quos.</p>

        <p>
            <button id="btnStart">START RECORDING</button>
            <br/>
            <button id="btnStop">STOP RECORDING</button>
        </p>

        <audio controls
               hidden
               loop
               muted
               crossorigin="anonymous"
               id="audio"></audio>

        <!-- could save to canvas and do image manipulation and saving too -->
    </main>
    <script>
        let constraintObj = {
            audio: true,
            video: false
        };
        navigator.mediaDevices.getUserMedia(constraintObj).then(mediaStreamObj => {
            let audio = document.querySelector('audio');
            if ('srcObject' in audio) {
                audio.srcObject = mediaStreamObj;
            }
            else {
                audio.src = window.URL.createMediaStreamSource(mediaStreamObj);
            }
            audio.onloadedmetadata = (ev) => {
                audio.play();
            };
            let start = document.getElementById('btnStart');
            let stop = document.getElementById('btnStop');
            let mediaRecorder = new MediaRecorder(mediaStreamObj)
            console.debug(mediaStreamObj);
            let chunks = [];
            let CONNECTION_PORT = 'http://localhost:5000'
            let socket = io.connect(CONNECTION_PORT);


            socket.on('recieve', function (msg) {
                console.log('RECIEVED : ', msg);
                $('#data').html(msg.proba)
            });

            start.addEventListener("click", (ev) => {
                mediaRecorder.start(1000);
                window.setInterval(function () {
                    console.log('CURRENT BLOB : ', mediaRecorder.requestData());

                },1000);
                console.log('STARTED RECORDING with state : ', mediaRecorder.state);
            });


            stop.addEventListener("click", (ev) => {
                mediaRecorder.stop();
                clearInterval();
                console.log('STOPPED RECORDING with state : ', mediaRecorder.state);
            });


            mediaRecorder.ondataavailable = (ev) => {
                //console.log("CURRENT DATA : ", ev.data)
                let blob = new Blob([ev.data], {'type': 'audio/wav'});
                socket.emit('json', ev.data);
                chunks.push(ev.data);
            };


            mediaRecorder.onstop = (ev) => {

                chunks = [];
                console.log('FULL STOP');
            }
        }).catch((err) => {
            console.log(err.name, err.message);
        })
    </script>
    <div id="data"></div>
{% endblock %}
