{% extends 'base.html' %}
{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-success" id="btnStart">START RECORDING</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-danger" id="btnStop">STOP RECORDING</button>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="data"></div>
            </div>
        </div>
    </div>
    <audio controls
           hidden
           loop
           muted
           crossorigin="anonymous"
           id="audio"></audio>

    <!-- could save to canvas and do image manipulation and saving too -->
    <script>


        let constraintObj = {
            audio: {
                sampleRate: 16384,
                sampleSize: 16
            },
            video: false
        };

        navigator.mediaDevices.getUserMedia(constraintObj).then(stream => {
            let audio = document.getElementById('audio');
            if ('srcObject' in audio) {
                audio.srcObject = stream;
            } else {
                audio.src = window.URL.createObjectURL(stream);
            }
            audio.onloadedmetadata = (ev) => {
                audio.play();
            };

            let CONNECTION_PORT = 'http://localhost:5000'
            let socket = io.connect(CONNECTION_PORT);

            var start = document.getElementById("btnStart");
            var stop = document.getElementById("btnStop");
            var playButton = document.getElementById("playButton");
            var downloadButton = document.getElementById("downloadButton");

            var chunks = [];
            var recorder = null;
            var recordingLength = 0;
            var volume = null;
            var sampleRate = 16384;
            var context = null;
            var blob = null;
            var MAX_SIZE = 32768;
            var bufferSize = 1024;

            const audioContext = new AudioContext();
            const mediaStream = audioContext.createMediaStreamSource(stream);
            const analyser = audioContext.createAnalyser();
            const scriptProcessor = audioContext.createScriptProcessor(bufferSize, 1, 1);

            scriptProcessor.onaudioprocess = ev => {

                chunks.push(ev.inputBuffer.getChannelData(0));
                recordingLength += bufferSize;
                if (recordingLength % MAX_SIZE === 0) {
                    data = flattenArray(chunks.slice(
                        recordingLength / bufferSize + 1 - MAX_SIZE / bufferSize, recordingLength / bufferSize - 1), MAX_SIZE);

                    socket.emit('json', data);
                }
            }


            socket.on('recieve', function (msg) {
                console.log('RECIEVED : ', msg);
                $('#data').html(msg.proba)
            });

            start.addEventListener("click", (ev) => {
                mediaStream.connect(analyser);
                analyser.connect(scriptProcessor);
                scriptProcessor.connect(audioContext.destination);
                console.log('STARTED RECORDING');
            });

            stop.addEventListener("click", (ev) => {
                scriptProcessor.disconnect(audioContext.destination);
                analyser.disconnect(scriptProcessor);
                mediaStream.disconnect(analyser);
                console.log(chunks.length * 1024);
                console.log(recordingLength);
                data = flattenArray(chunks, recordingLength);
                {#socket.emit('json', data);#}
                chunks = [];
                recordingLength = 0;
                console.log('STOPPED RECORDING');
            });

        }).catch((err) => {
            console.log(err.name, err.message);
        })

        function flattenArray(channelBuffer, recordingLength) {
            var result = new Float32Array(recordingLength);
            var offset = 0;
            for (var i = 0; i < channelBuffer.length; i++) {
                var buffer = channelBuffer[i];
                result.set(buffer, offset);
                offset += buffer.length;
            }
            return result;
        }
    </script>

{% endblock %}
