{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px">
                <img src="{{ user.generate_avatar(256) }}">
            </td>
            <td>
                <h1>{{ user.username }}</h1>

                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    <p>Last seen on: {{ moment(user.last_seen).fromNow() }}</p>
                {% endif %}
                <p>
                    Follows : {{ user.get_followed_count() }}<br>
                    Followers : {{ user.get_followers_count() }}<br>
                </p>
                {% if user == current_user %}
                    <p><a href="{{ url_for('main.edit_profile',username =user.username) }}"> Edit my profile</a></p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('main.follow', username=user.username) }}">Follow</a></p>
                {% else %}
                    <p><a href="{{ url_for('main.unfollow', username=user.username) }}">Unfollow</a></p>
                {% endif %}
            </td>

        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}